<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer-grid">
      <div>
        <strong>{{help_center.name}}</strong><br>
        <small>&copy; {{now format="yyyy"}} {{help_center.name}}</small>
      </div>
      <div>
        <ul class="list-inline">
          {{#if terms_url}}<li><a href="{{terms_url}}">{{t 'terms_of_use'}}</a></li>{{/if}}
          {{#if privacy_policy_url}}<li><a href="{{privacy_policy_url}}">{{t 'privacy_policy'}}</a></li>{{/if}}
          {{#if cookies_policy_url}}<li><a href="{{cookies_policy_url}}">{{t 'cookie_policy'}}</a></li>{{/if}}
        </ul>
      </div>
    </div>
  </div>
</footer>
