<header class="header {{#if settings.sticky_header}}header--sticky{{/if}}" role="banner">
  <div class="container header-inner top-nav">
    <a class="logo" href="{{help_center.url}}" aria-label="{{t 'home'}}">
      {{#if settings.logo}}
        <img src="{{settings.logo}}" alt="{{help_center.name}}">
      {{else}}
        {{help_center.name}}
      {{/if}}
    </a>
  </div>
</header>